[Unit]
Description=Fullerite

[Service]
TimeoutStartSec=5
ExecStart=/usr/bin/fullerite --config /etc/fullerite.conf --log_level info
PIDFile=/var/run/fullerite.pid
User=fuller


[Install]
WantedBy=multi-user.target
